:root {
  --hosts-organizations-font-family: "Scada", Helvetica;
  --hosts-organizations-font-weight: 400;
  --hosts-organizations-font-size: 16px;
  --hosts-organizations-letter-spacing: 0px;
  --hosts-organizations-line-height: normal;
  --hosts-organizations-font-style: normal;
  --BIG-1-font-family: "Scada", Helvetica;
  --BIG-1-font-weight: 400;
  --BIG-1-font-size: 61px;
  --BIG-1-letter-spacing: 0px;
  --BIG-1-line-height: 120.00000476837158%;
  --BIG-1-font-style: normal;
  --big-2-font-family: "Scada", Helvetica;
  --big-2-font-weight: 400;
  --big-2-font-size: 49px;
  --big-2-letter-spacing: 0px;
  --big-2-line-height: 120.00000476837158%;
  --big-2-font-style: normal;
  --big-3-font-family: "Scada", Helvetica;
  --big-3-font-weight: 400;
  --big-3-font-size: 39px;
  --big-3-letter-spacing: 0px;
  --big-3-line-height: 120.00000476837158%;
  --big-3-font-style: normal;
  --big-4-font-family: "Scada", Helvetica;
  --big-4-font-weight: 400;
  --big-4-font-size: 31px;
  --big-4-letter-spacing: 0px;
  --big-4-line-height: 120.00000476837158%;
  --big-4-font-style: normal;
  --big-5-font-family: "Scada", Helvetica;
  --big-5-font-weight: 400;
  --big-5-font-size: 25px;
  --big-5-letter-spacing: 0px;
  --big-5-line-height: 120.00000476837158%;
  --big-5-font-style: normal;
  --big-6-font-family: "Scada", Helvetica;
  --big-6-font-weight: 400;
  --big-6-font-size: 20px;
  --big-6-letter-spacing: 0px;
  --big-6-line-height: 120.00000476837158%;
  --big-6-font-style: normal;
  --big-7-font-family: "Scada", Helvetica;
  --big-7-font-weight: 400;
  --big-7-font-size: 16px;
  --big-7-letter-spacing: 0px;
  --big-7-line-height: 120.00000476837158%;
  --big-7-font-style: normal;
  --big-8-font-family: "Scada", Helvetica;
  --big-8-font-weight: 400;
  --big-8-font-size: 13px;
  --big-8-letter-spacing: 0px;
  --big-8-line-height: 120.00000476837158%;
  --big-8-font-style: normal;
  --big-9-font-family: "Scada", Helvetica;
  --big-9-font-weight: 400;
  --big-9-font-size: 10px;
  --big-9-letter-spacing: 0px;
  --big-9-line-height: 120.00000476837158%;
  --big-9-font-style: normal;
  --main-heading-font-family: "Scada", Helvetica;
  --main-heading-font-weight: 700;
  --main-heading-font-size: 35px;
  --main-heading-letter-spacing: 3px;
  --main-heading-line-height: 120.00000476837158%;
  --main-heading-font-style: normal;
}
